.addHotelContainer{
    height: auto;
  }
  
  .addHotelContainerForm {
  }
  
  .addHotelContainerForm input,
  .addHotelContainerForm select,
  .addHotelContainerForm button {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
  }
  